#macos system files
.DS_store

# Debug symbol folders from macOS
*.dSYM/

# Compiled object and
*.o
*.out
*.exe

# Binary files form root
main

# Binary files from http-server
server
request_handler
response_handler
method_handler

# Binary files from in-memory-store
hash_table
utils

# Data file to maintain persistence
data.csv

# VS Code settings
.vscode/

# Backup files
*~

# Flowchart html file used as a guide
flowchart-to-follow.html